@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color1: #454C69;
    --color2: #333B52;
    --color3: #DF5175;
    --color4: #CFCFCF;
    --color5: #FFFAFA;
}

body {
    background-color: var(--color1);
    min-height: 100vh;
}

header #container_header {
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_header > div {
    font-size: 20px;
}

#container_header > div a {
    text-decoration: none;
    color: white;
}

#container_header img {
    width: 50px;
    height: 50px;
    transform: translateX(10px);
}

#container_header input[type="text"] {
    transform: translateX(-20px);
    border-radius: 10px;
    height: 30px;
    text-align: left;
    padding: 5px;
}

main {
    min-height: calc(100vh - 120px);
}

.container_noticias {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-around;
}

.container_noticias div {
    color: white;
    width: 300px;
    height: 220px;
    padding: 8px;
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
}

.container_noticias div > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    margin: 5px;
}

.container_noticias h2 {
    font-size: 20px;
}

.container_noticias div > button {
    padding: 3px;
    color: black;
    margin-top: 10px;
}

.container_noticias button > a{
    text-decoration: none;
    color: var(--color1);
}

footer {
    background-color: var(--color2);
    height: 65px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a{
    text-decoration: none;
    text-decoration: underline;
    color: white;
}

footer a:hover{
    text-decoration: none;
}
